.container {
    width: 80%;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post {
    margin-bottom: 12px;
}

.postTitle {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.postTitle a {
    color: inherit;
    text-decoration: none;
}

.postDescription {
    margin-top: 0;
    margin-bottom: 12px;
    opacity: 0.65;
}

.link {
    display: flex;
    align-items: center;
}

.link svg {
    margin-right: 8px;
}

.link span {
    text-decoration: underline;
    text-decoration-color: #bbb;
    text-underline-position: under;
}

.filterSection {
    display: flex;
    justify-content: space-between;
}

.topics {
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: blue;
    width: 70%;
}

.topics span {
    margin-right: 12px;
    padding: 0 8px 12px 0;
    cursor: pointer;
}

.categories {
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.categories span {
    margin-right: 12px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.stages {
    padding: 4% 0;
    display: flex;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
}

.stages span {
    margin: 4px 8px;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eee;
}

.searchBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button {
    background-color: transparent;
    border: 0;
}

.input {
    margin: 2em 1em;
    width: 95%;
}

@media screen and (max-width: 1200px) {
    .filterSection {
        flex-direction: column;
    }
    .topics {
        width: 100%;
    }
    .categories {
        justify-content: flex-end;
    }
}